body {
	background: linear-gradient(345deg, #51206d, #2272a0);
	background-size: 100% 100%;
}
/*
@keyframes bubbleVert {
    0% {
        margin-top: 50px;
    }
    100% {
        margin-top: 55px;
    }
}

@keyframes bubbleHoriz { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:10px;
    }
}*/

.main {
	left: 50%;
	color: #fff;
	transform:translate(-50%, 0%);
	position: absolute;
	white-space: nowrap;
}

.name {
	font-family: "Helvetica";
	top: 8%;
	font-size: 400%;
}

.contact {
	font-family: "Helvetica Neue";
	top: 20%;
	font-size: 120%;
}

.bubble {
	height: 170px;
	width: 170px;
	position: absolute;
	border-radius: 50%;
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
}

.bubble:hover .tooltip {
    visibility: visible;
}

.bubble:hover:after {
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 70%);
	border-radius: 50%;
	box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	content: "";
    height: 170px;
	width: 170px;
	position: absolute;
}

.tooltip {
	font-size: 170%;
	font-family: "Simplex";
    visibility: hidden;
    color: #fff;
	white-space: nowrap;
    position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, 0%);
}

.zMid, .zL1, .zR1 {
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 0.5s;
}

.zMid {
	left: 50%;
	top: 50%;
	transform:translate(-50%, -50%);
	/*animation: bubbleVert 1.75s ease-in-out infinite alternate, bubbleHoriz 1.4s ease-in-out infinite alternate;*/
	background-image: url("../images/home/profile.png");
}

.zL1 {
	left: 30%;
	top: 45%;
	transform: scale(0.70);
	/*animation: bubbleVert 1.25s ease-in-out infinite alternate, bubbleHoriz 1.7s ease-in-out infinite alternate;*/
	background-image: url("../images/home/resume.png");
}

.zR1 {
	left: 57%;
	top: 37%;
	transform: scale(0.70);
	/*animation: bubbleVert 1s ease-in-out infinite alternate, bubbleHoriz 2s ease-in-out infinite alternate;*/
	background-image: url("../images/home/folder.png");
}
/*
.clickedM, .clickedL, .clickedR {
	position: absolute;
	animation: pause;
	background-position: center;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.clickedL, .clickedR {
	left: 0%;
	top: 0%;
	transform: scale(1);
}

.clickedM {
	background-image: url("../images/about/stars.png");
}

.clickedL {
	background-image: url("../images/resume/1_skills.png");
}

.clickedR {
	background-image: url("../images/portfolio/shapes.png");
}*/

.zL2 {
	left: 20%;
	top: 37%;
	transform: scale(0.5);
	/*animation: bubbleVert 1.15s ease-in-out infinite alternate, bubbleHoriz 1.1s ease-in-out infinite alternate;*/
	background-image: url("../images/home/linkedin.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.zR2 {
	left: 67%;
	top: 45%;
	transform: scale(0.5);
	/*animation: bubbleVert 1.75s ease-in-out infinite alternate, bubbleHoriz 1.5s ease-in-out infinite alternate;*/
	background-image: url("../images/home/github.png");
	background-repeat: no-repeat;
	background-size: cover;
}

footer {
	position: absolute;
	left: 50%;
	bottom: 5px;
	transform:translate(-50%, 0);
	text-align: center;
	color: #fff;
	font-family: "Helvetica";
	font-size: 10px;
}